my show page

<h3>Change the role for the person <b><%= @student.email %></b></h3> 

<h1 class="display-4 p-2">Change Role</h1>

<div class="row">
  <div class="col-4">
    <%= form_with(url: user_path(@student), method: 'PATCH', local: true) do |form| %>


      <div class="form-group">
        Email: <%= @student.email %>
      </div>

     <div class="field">
        <%= form.label :role %>
        <%= form.select(:role, id: :user_role) do %>
            <% ['student', 'teacher'].each do |cat| %>
                <%= content_tag(:option, cat, value: cat, selected: @student.role == cat) %>
            <% end %>
        <% end %>
    </div>



      <div class="form-group">
        <%= form.submit class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-8"></div>
</div>